@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
    background-color:black;
    background-image: url("/images/wallpaper.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
}

main{
    background-color:rgba(0,0,0,0.7);
    padding-bottom:10px;
}

header,footer{
    background-color:rgb(131, 122, 255);
    color:white;
}

footer{
    position:fixed;
    bottom:0px;
}

a, a:link, a:active, a:visited{
    color:inherit;
    text-decoration: inherit;
}

header h1, header h2{
    font-family:Calibri;
    font-weight:bold;
}

header h1, header h2, footer p{
    margin:0px;
}

.navHover:hover{
    background-color:white;
    color:#997aff;
}

.artist{
    border:white solid 3px;
    border-radius:10px;
    padding:10px;
}

.artist h4{
    font-size:1em;
    font-weight:bold;
}

.artist img{
    border-radius:5px;
}

.lightButton{
    background-color:white;
    color:black;
    border-radius:5px;
    padding:2px 10px;
    cursor:pointer;
}

.lightButton:hover{
    background-color:rgb(131, 122, 255);
    color:white;
}

.lightInput{

    background-color:white;
    color:black;
    padding:2px 5px;
    border-radius:3px;

}